@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  color: #eaf6f6;
}

.head {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.heading {
  color: #ff0063;
  font-weight: 600;
  font-size: 36px;
}

.sub-heading {
  color: #66bfbf;
  font-weight: 600;
  font-size: 24px;
}

.paragraph {
  font-weight: 500;
  font-size: 18px;
  text-align: justify;
  padding: 18px;
  border-radius: 5px;
  border: 1px solid #66bfbf;
  margin: 5px 0;
  box-shadow: inset 0 0 10px #2c2c2c;
}

section {
  margin-top: 12px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-container {
  margin-top: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 7px 0;
}

.imgg {
  padding: 7px 7px;
  width: 80%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px 0 #000000;
}

.pg-images {
  font-weight: 600;
  padding: 12px;
  font-style: italic;
  font-size: 18px;
  color: #b80046fd;
  text-shadow: 0 0 10px #000000;
}


footer{
  border-top: 2px solid #66bfbf;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  padding: 12px;
}

.footer-text
{
  font-weight: 600;
  font-size: 18px;
  color:#66bfbf;
  text-shadow: 0 0 10px #000000;
}

.linkk{
  text-decoration: none;
  color: #ff0063;
  font-weight: 600;
  font-size: 18px;
  text-shadow: 0 0 10px #ff0063;
  transition: all 0.3s ease-in-out;
}

.linkk:hover{
  color: #66bfbf;
  text-shadow: 0 0 10px #66bfbf;
}